* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

p {
  font-size: 15px;
  line-height: 1.4em;
}

#main {
  background-color: #eee;
  margin: 30px 10px;
  padding: 30px 20px;
}

#header {
  text-align: center;
}

#header h1 {
  padding: 40px 0 20px;
  font-size: 36px;
}

.img-div {
  background-color: #fff;
  text-align: center;
}

.img-div img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.img-div p {
  padding: 15px 0;
}

.text-container {
  width: 40%;
  margin: 0 auto;
}

.text-container h3 {
  text-align: center;
  padding: 50px 0;
}

.text-container ul {
  margin-bottom: 50px;
}

.text-container ul li {
  text-align: left;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
}

.text-container p {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 20px;
}

span.bold {
  font-weight: bold;
}

.footer {
  text-align: center;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .text-container {
    width: 80%;
  }
}