* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

p {
  font-size: 15px;
  line-height: 1.4em;
}

#main {
  background-color: #eee;
  margin: 30px 10px;
  padding: 30px 20px;
}

#header {
  text-align: center;
}

#header h1 {
  padding: 40px 0 20px;
  font-size: 36px;
}

#header p {
  margin-bottom: 15px;
}

.img-div {
  background-color: #fff;
  text-align: center;
}

.img-div img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.img-div p {
  padding: 15px 0;
}